@import 'normalize/normalize';

$baseColor: #21B1DF;
$baseFontSize: 16px;
$baseContrastColor: #FFF;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-app="sunshine"] {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        font-size: $baseFontSize;
        box-sizing: border-box;
        background-color: $baseColor;
    }

    .view {
        width: 100%;
        height: 100%;
    }

    .view-settings {
        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            label {
                color: $baseContrastColor;
                font-size: $baseFontSize * 1.5;
                text-align: center;
                margin-bottom: $baseFontSize / 2;
            }

            input {
                width: 60%;
                border: 1px solid rgba(0, 0, 0, 0.5);
                padding: $baseFontSize / 2;
                font-size: $baseFontSize * 1.5;
            }
        }
    }

    .view-weather {
        display: flex;
        flex-direction: column;

        .selected-forecast {
            flex: 1;
            color: $baseContrastColor;
            display: flex;
            transition: 0.125s linear all;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            h3, p {
                margin: 0;
            }

            h3 {
                font-size: 5rem;
                font-weight: lighter;
                line-height: 5rem;
            }

            .forecast-icon {
                font-size: 3rem;
            }
        }

        .selected-forecast.ng-enter {
            opacity: 0;
        }

        .selected-forecast.ng-enter.ng-active {
            opacity: 1;
        }

        .list-forecast {
            flex: 1;
            margin: 0;
            padding: 1rem;
            overflow: auto;
            transition: 0.125s linear all;
            background-color: $baseContrastColor;

            .forecast {
                cursor: pointer;
                display: flex;
                text-align: center;
                transition: 0.125s linear all;
                align-items: center;
                border-bottom: 1px solid #EEE;

                .forecast-icon {
                    flex: 0.5;
                    font-size: 1.5rem;
                }

                .forecast-datetime,
                .forecast-description {
                    flex: 1;
                }
            }

            .forecast:hover {
                background-color: #f0f0f0;
            }

            .forecast.forecast-is-selected:after {
                content: '\2190';
            }

            .forecast.ng-enter {
                opacity: 0;
            }

            .forecast.ng-enter.ng-active {
                opacity: 1;
            }
        }

        .list-forecast.ng-enter {
            opacity: 0;
        }

        .list-forecast.ng-enter.ng-active {
            opacity: 1;
        }
    }

    .list {
        list-style: none;
        padding-left: 0;
    }

    .list-title {
        text-align: center;
    }

    #loading-bar {
        .bar {
            background: $baseContrastColor;
        }

        .peg {
            box-shadow: $baseContrastColor 1px 0 6px 1px;
        }
    }

    #loading-bar-spinner .spinner-icon {
        border-top-color: $baseContrastColor;
        border-left-color: $baseContrastColor;
    }
}

@media screen and (min-width: 1024px) {
    [ng-app='sunshine'] {
        .view-weather {
            flex-direction: row;

            .selected-forecast {
                flex: 4;
            }
        }
    }
}
