@import 'normalize/normalize';

$baseColor: #4040F0;
$baseFontSize: 16px;

[ng-app="sunshine"] {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-size: $baseFontSize;
        box-sizing: border-box;
        background-color: $baseColor;
    }

    .view {
        width: 100%;
        height: 100%;
    }

    .view-weather {
        display: flex;
        flex-direction: row;

        .selected-forecast {
            flex: 1;
            display: flex;
            align-self: center;
            align-items: center;
            flex-direction: column;

            h3, p {
                margin: 0;
            }

            h3 {
                font-size: 5rem;
                font-weight: lighter;
                line-height: 5rem;
            }
        }

        .list-forecast {
            flex: 1;
        }
    }

    .list {
        padding-left: 0;
        list-style: none;
    }
}
